@model ProfitHeat.Domain.Radiator

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Radiator</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ManufacturerRadiator.TitleCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManufacturerRadiator.TitleCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Material.TitleMaterialRadiator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material.TitleMaterialRadiator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThermalPower)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThermalPower)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RadiatorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
