@model IEnumerable<ProfitHeat.Domain.WindowProfile>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ManufacturerWindowProfile.TitleCompany)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitleMark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountCameras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thickness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeatResistanceCoefficient)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ManufacturerWindowProfile.TitleCompany)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TitleMark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountCameras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thickness)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HeatResistanceCoefficient)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WindowProfileID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WindowProfileID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WindowProfileID })
        </td>
    </tr>
}

</table>
