@model List<ProfitHeat.Domain.Project>
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <h1>ProfitHeat</h1>
        <p class="lead">Расчитайте отопительную систему выгодно для Вашего дома.</p>
        <p><a href='@Url.Action("Index","Project")' class="btn btn-primary btn-lg">Новый проект &raquo;</a></p>
    </div>

    <div class="row">
        @*<table>
                <thead>
                    <tr class="table-hover">
                        <th>Название проекта</th>
                        <th>Место расположения</th>
                        <th>Дата создания</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var project in Model){
                        <tr>
                            <td>@project.Title</td>
                            <td>@Html.DisplayFor(m => project.Location.Title)</td>
                            <td>@project.CreateDateTime.ToString("dd MMMM, yyyyг.")</td>
                        </tr>
                    }
                </tbody>
            </table>*@
        @foreach (var project in Model)
        {
            if (ViewBag.UserID == project.UserID)
            {

                <table class="form-group">
                    <tr >
                        <td >
                            @Html.ActionLink(
                                project.Title + " - " +
                                project.Location.Title + " - " +
                                project.CreateDateTime.ToString("dd MMMM, yyyyг."),
                                "Index", "Project", new { projectID = project.ProjectID }, htmlAttributes: new { @class = "btn btn-default" })
                        </td>
                        <td>
                            @Html.ActionLink("Удалить", "Delete", new { id = project.ProjectID }, htmlAttributes: new { @class = "btn btn-info,  bottom-right"})
                        </td>
                    </tr>
                </table>
            }
        }
    </div>
</div>