@model ProfitHeat.Domain.Glass

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Glass</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeatResistanceCoefficient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeatResistanceCoefficient)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GlassID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
