@model ProfitHeat.Domain.TypeRoom

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TypeRoom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TitleTypeRoom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleTypeRoom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComfortableTemperature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComfortableTemperature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirChange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirChange)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TypeRoomID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
