@model ProfitHeat.Domain.Room

<div id="nameRoom">
    @Html.LabelFor(m => m.Title, htmlAttributes: new { @class = "control-label" })
    <input onchange="saveEntity('RoomTitle', 'RoomTitle')" id="RoomTitle" type="text" class="form-control" value="@Model.Title" data-id="@Model.RoomID"/>
</div>
<div id="levelRoom">
    @Html.LabelFor(m => m.Level, htmlAttributes: new { @class = "control-label" })
    <input onchange="saveEntity('RoomTitle', 'RoomLevel')" id="RoomLevel" type="text" class="form-control" value="@Model.Level" />
</div>

@{
    Html.RenderAction("_TypeRooms", new { typeRoomID = Model.TypeRoomID });
}

@{
    Html.RenderAction("_Radiator", new { radiatorID = Model.RadiatorID });
}

<br />
@foreach (var cladding in Model.Claddings)
{
    Html.RenderAction("_Cladding", new { claddingID = cladding.CladdingID });
}

@Html.LabelFor(m => m.Windows, htmlAttributes: new { @class = "control-label" }) <b class="caret"></b>
@{
    Html.RenderAction("_Window", new { windowID = Model.Windows.First().WindowID });
}