@model ProfitHeat.Domain.WallLayer
@{
    string layerID = Model.WallLayerID + "LayerThickness";
    string claddinrId = "cladding" + Model.CladdingID;
}
<li>
    <div class="">
        <label class="control-label">Слой <b class="caret"></b></label>
        @Ajax.ActionLink("Удалить", "_Cladding", new { claddingID = Model.CladdingID, wallLayerID = Model.WallLayerID }, new AjaxOptions { InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = claddinrId }, new { @class = "btn btn-info,  bottom-right" } )
    </div>
    <ul>
        <li>
            @{
                Html.RenderAction("_Materials", new { materialID = Model.MaterialID, layerID = Model.WallLayerID });
            }
        </li>
        <li>
            <div class="@*form-group*@">
                @Html.LabelFor(model => model.Thickness, htmlAttributes: new { @class = "control-label" })
                <input onchange="saveEntity('@layerID', '@layerID')" id="@layerID" type="text" class="form-control" value="@Model.Thickness" data-id="@Model.WallLayerID" />
            </div>
        </li>
    </ul>
</li>