@model ProfitHeat.Domain.Window

<ul>
    <li>
        <div id="window" data-url="@Url.Action("SaveWindowProfile", "Project")">
            <input onchange="saveEntity('WindowArea', 'WindowArea')" id="WindowArea" type="text" class="form-control" value="@Model.WindowArea" data-id="@Model.WindowID" />
        </div>
    </li>
    <li>
        @Html.LabelFor(m => m.Glass, htmlAttributes: new { @class = "control-label" }) <b class="caret"></b>
        <ul id="glass" data-url="@Url.Action("SaveGlass", "Project")">
            @{
                Html.RenderAction("_Glasses", new { glassID = Model.GlassID });
            }
            <li>
                <div class="@*form-group*@">
                    @Html.LabelFor(model => model.GlassArea, htmlAttributes: new { @class = "control-label" })
                    <input onchange="saveEntity('WindowArea', 'GlassArea')" id="GlassArea" type="text" class="form-control" value="@Model.GlassArea" />
                </div>
            </li>
        </ul>
    </li>
    <li>
        @Html.LabelFor(model => model.WindowProfile, htmlAttributes: new { @class = "control-label" }) <b class="caret"></b>
        <ul>
            <li>
                @{
                    Html.RenderAction("_ManufacturerWindowProfiles", new { manufacturerWindowProfileID = Model.WindowProfile.ManufacturerWindowProfileID });
                }
            </li>
            <li>
                <div id="modelWinProf">
                    @{
                        Html.RenderAction("_WindowProfiles", new
                        {
                            windowProfileID = Model.WindowProfileID,
                            manufactProfile = Model.WindowProfile.ManufacturerWindowProfile.TitleCompany,
                            winProf = Model.WindowProfile.TitleMark
                        });
                    }
                </div>
            </li>
        </ul>
    </li>
</ul>