@model ProfitHeat.Domain.Window

<ul>
    <li>
        <div class="@*form-group*@">
            @Html.LabelFor(model => model.WindowArea, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.WindowArea, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </li>
    <li>
        @Html.LabelFor(m => m.Glass, htmlAttributes: new { @class = "control-label" }) <b class="caret"></b>
        <ul>
            @{
                Html.RenderAction("_Glasses", new { glassID = Model.GlassID });
            }
            <li>
                <div class="@*form-group*@">
                    @Html.LabelFor(model => model.GlassArea, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.GlassArea, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </li>
        </ul>
    </li>
    <li>
        @Html.LabelFor(model => model.WindowProfile, htmlAttributes: new { @class = "control-label" }) <b class="caret"></b>
        <ul>
            <li>
                @{
                    Html.RenderAction("_ManufacturerWindowProfiles", new { manufacturerWindowProfileID = Model.WindowProfile.ManufacturerWindowProfileID });
                }
                @*@Ajax.ActionLink("Выбрать модель профиля", "_WindowProfiles", "Project", new { windowProfileID = Model.WindowProfileID }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "modelWinProf" }, new { @class = "btn btn-default" })*@
            </li>
            <li>
                <div id="modelWinProf">
                    @{
                        Html.RenderAction("_WindowProfiles", new
                        {
                            windowProfileID = Model.WindowProfileID,
                            manufactProfile = Model.WindowProfile.ManufacturerWindowProfile.TitleCompany,
                            winProf = Model.WindowProfile.TitleMark
                        });
                    }
                </div>
            </li>
        </ul>
    </li>
</ul>
@*<script>
    $(document).ready(function () {
        $("#manufacturerWindowProfil").click(function () {
            var url = @Url.Action("_WindowProfiles", "Project");
            var data = {
                "windowProfileID": @Model.WindowProfileID, 
                "manufactProfile": $(this).attr('value')};
            $("#modelWinProf").load(url, data);
        })
    });
</script>*@