@model ProfitHeat.Domain.Project
@{
    ViewBag.Title = Model?.Title ?? "New";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container">
    <div class="col-lg-4 col-md-5 col-sm-7 col-xs-9">
        <section id="initialData">
            <div id="nameProject">
                @Html.LabelFor(m => m.Title, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div id="mainLocation">
                @{
                    Html.RenderAction("_Locations", new { locationID = Model.LocationID });
                }
            </div>
            @*<div id="forLevel">
                @{
                    Html.RenderAction("_Layers", new { level = 1 });
                }
            </div>*@

            <div id="namesRoomsList" data-projectId="@Model.ProjectID">
                @{
                    Html.RenderAction("_ListNameRooms", new
                    {
                        projectID = Model.ProjectID,
                        roomName = Model.Rooms.FirstOrDefault().Title
                    });
                }
            </div>
            <hr />
            <div id="room" data-url="@Url.Action("_Room", "Project")">
                @{
                    Html.RenderAction("_Room", new
                    {
                        projectID = Model.ProjectID,
                        roomName = Model.Rooms.FirstOrDefault().Title
                    });
                }
            </div>
        </section>
        <hr />
        @*<button class="btn-danger btn-block btn-lg" id="saveProject" data-url ="@Url.Action("_qwe", "Project")" data-projectId="@Model.ProjectID">Сохранить</button>
        <br />*@
        @* Должен появлятся после нажатия на кнопку *@
        @Ajax.ActionLink("Рассчитать", "_Result", "Project", new { projectID = Model.ProjectID } ,new AjaxOptions { InsertionMode = InsertionMode.InsertAfter, UpdateTargetId = "result" }, new { @class = "btn btn-success btn-block btn-lg" })
        <hr />
        <div id="result">
            @*@{
                Html.RenderAction("_Result", new { projectID = Model.ProjectID });
            }*@
        </div>
    </div>
    @*<section id="plot" class="top">
        <div id="buttonsForDrawing">
            <div id="inWallPlot" class="btn">
                <img src="#" alt="Внешняя стена" />
            </div>
            <div id="outWallPlot" class="btn">
                <img src="#" alt="Внутренняя стена" />
            </div>
            <div id="windowPlot" class="btn">
                <img src="#" alt="Окно" />
            </div>
            <div id="doorPlot" class="btn">
                <img src="#" alt="Дверь" />
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-7">
            <canvas id="canvas" width="1280", height="914">
                Браузер не поддерживает canvas
            </canvas>
        </div>
    </section>*@

</div>