@model ProfitHeat.Domain.Project
@{
    ViewBag.Title = Model?.Title ?? "New";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container-fluid">
    <div class="col-lg-4 col-md-5 col-sm-7 col-xs-9">
        <section id="initialData">
            <div id="nameProject" data-url="@Url.Action("SaveEntity", "Project")">
                @Html.LabelFor(m => m.Title, htmlAttributes: new { @class = "control-label" })
                <input onchange="saveEntity('ProjectTitle', 'ProjectTitle')" id="ProjectTitle" type="text" class="form-control" value="@Model.Title" data-id="@Model.ProjectID"/>
            </div>
            <div id="mainLocation">
                @{
                    Html.RenderAction("_Locations", new { locationID = Model.LocationID });
                }
            </div>
            <div id="namesRoomsList" data-projectId="@Model.ProjectID" data-url="@Url.Action("_ListNameRooms", "Project")">
                @{
                    Html.RenderAction("_ListNameRooms", new
                    {
                        projectID = Model.ProjectID,
                        roomID = Model.Rooms.FirstOrDefault().RoomID
                    });
                }
            </div>
            <hr />
            <div id="room" data-url="@Url.Action("_Room", "Project")">
                @{
                    Html.RenderAction("_Room", new
                    {
                        projectID = Model.ProjectID,
                        roomID = Model.Rooms.FirstOrDefault().RoomID
                    });
                }
            </div>
        </section>

        <hr />
        <button onclick="saveChange()" class="btn btn-success btn-lg" id="saveProject" data-url ="@Url.Action("_Result", "Project")" data-projectId="@Model.ProjectID">Подобрать отопительную систему</button>
        <hr />
        <div id="result"></div>

    </div>
    <div class="col-lg-8 col-md-7">
        <canvas id="canvas" width="3942" , height="2628">
            Браузер не поддерживает canvas
        </canvas>
    </div>

    @*<section id="plot" class="top">
        <div id="buttonsForDrawing">
            <div id="inWallPlot" class="btn">
                <img src="#" alt="Внешняя стена" />
            </div>
            <div id="outWallPlot" class="btn">
                <img src="#" alt="Внутренняя стена" />
            </div>
            <div id="windowPlot" class="btn">
                <img src="#" alt="Окно" />
            </div>
            <div id="doorPlot" class="btn">
                <img src="#" alt="Дверь" />
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-7">
            <canvas id="canvas" width="1280", height="914">
                Браузер не поддерживает canvas
            </canvas>
        </div>
    </section>*@
</div>